<div class="container-fluid" style="background-color: #ebebeb; position: relative;">
  <div class="background-pattern" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-image: url('/assets/images/fac2go_400x400.png'); background-repeat: repeat; background-size: 100px; opacity: 0.1; z-index: 0;"></div>
  <div class="row vh-100 d-flex justify-content-center" style="position: relative; z-index: 1;">
    <div class="col-12 align-self-center">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <div class="card shadow-lg border-0">
              <div class="card-body p-0 bg-dark auth-header-box rounded-top">
                <div class="text-center p-4">
                  <h4 class="mt-3 mb-1 fw-bold text-white fs-24">
                    Recuperar Contraseña
                  </h4>
                  <p class="text-white-50 fw-medium mb-0 fs-16">
                    Ingresa tu correo y te enviaremos las instrucciones para recuperar tu contraseña.
                  </p>
                </div>
              </div>
              <div class="card-body pt-0">
                <form class="my-4" action="index.html">
                  <div class="form-group mb-3">
                    <label class="form-label text-muted" for="userEmail">Correo</label>
                    <div class="input-group">
                      <span class="input-group-text bg-dark text-white border-end-0">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <input
                        type="email"
                        class="form-control border-start-0"
                        id="userEmail"
                        name="Email"
                        placeholder="Ingresa tu correo electrónico"
                      />
                    </div>
                  </div>

                  <div class="form-group mb-0 row">
                    <div class="col-12">
                      <div class="d-grid mt-4">
                        <button class="btn btn-dark btn-lg" type="button">
                          Recuperar <i class="fas fa-paper-plane ms-2"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

                <div class="text-center mb-2">
                  <p class="text-muted">
                    ¿Recordaste tu contraseña?
                    <a [routerLink]="'/auth/login-admin'" class="text-dark ms-2">
                      Inicia sesión aquí
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
