<div class="row py-3 justify-content-center h-100">
    <div class="col-12 h-100">
        <div class="card h-100">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <h4 class="card-title" style="font-size: 1.5rem;">Aviso de Privacidad</h4>
                        <span class="form-text text-muted" style="font-size: 1rem;">
                            Conoce cómo protegemos y manejamos tu información personal en nuestro sistema de facturación electrónica.
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body d-flex flex-column">
                <div class="row justify-content-center flex-grow-1">
                    <div class="col-lg-8 h-100">
                        <div class="video-container mb-4 h-100">
                            <iframe 
                                [src]="safeUrl" 
                                title="Aviso de Privacidad" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
