<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Datos de Factura(s)</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3 row">
              <div class="mb-3 row">
                <label for="example-email-input" class="col-sm-2 col-form-label text-lg-end">Correo</label>
                <div class="col-sm-10">
                  <input class="form-control" type="email" value="example&#64;flechaamarilla.com"
                    id="example-email-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="example-password-input" class="col-sm-2 col-form-label text-lg-end">Contraseña</label>
                <div class="col-sm-10">
                  <input class="form-control" type="password" value="" id="example-password-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-lg-end">Periocidad</label>
                <div class="col-sm-10">
                  <select class="form-select">
                    <option value="" disabled selected>Selecciona...</option>
                    <option value="01">Diario</option>
                    <option value="02">Semanal</option>
                    <option value="03">Quincenal</option>
                    <option value="04">Mensual</option>
                    <option value="05">Bimestral</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-lg-end">Mes(es)</label>
                <div class="col-sm-10">
                  <select class="form-select">
                    <option value="" disabled selected>Selecciona...</option>
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                    <option value="13">Enero-Febrero</option>
                    <option value="14">Marzo-Abril</option>
                    <option value="15">Mayo-Junio</option>
                    <option value="16">Julio-Agosto</option>
                    <option value="17">Septiembre-Octubre</option>
                    <option value="18">Noviembre-Diciembre</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="example-number-input" class="col-sm-2 col-form-label text-lg-end">No. Facturas</label>
                <div class="col-sm-10">
                  <input class="form-control" type="number" value="0" id="example-number-input" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-end">
                <button type="submit" class="btn btn-primary px-4">
                  Facturar
                </button>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <div>