<div class="row py-3 justify-content-center">
  <div class="col-md-3 d-flex flex-column justify-content-center">
    <button 
      class="btn btn-primary w-100 rounded-pill px-4 py-2 mb-3" 
      (click)="action.isStart ? action.stop() : action.start()">
      {{ action.isStart ? 'Detener' : 'Iniciar' }}
    </button>
    <div class="card p-3 text-center">
      <span class="d-block text-muted">{{ qrValue || 'Esperando QR...' }}</span>
    </div>
  </div>
  <div class="col-md-9 d-flex justify-content-center align-items-center">
    <ngx-scanner-qrcode 
      #action="scanner"
      class="rounded" 
      style="border: 2px; padding: 10px; width: 100%; max-width: 80%; height: auto;"
      (event)="extractValue(action.data)">
    </ngx-scanner-qrcode>
  </div>
</div>
