<div class="container-fluid" style="background-color: #ebebeb; position: relative;">
  <div class="background-pattern" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-image: url('/assets/images/fac2go_400x400.png'); background-repeat: repeat; background-size: 100px; opacity: 0.1; z-index: 0;"></div>
  <div class="row vh-100 d-flex justify-content-center" style="position: relative; z-index: 1;">
    <div class="col-12 align-self-center">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <div class="card">
              <div class="card-body p-0 bg-dark auth-header-box rounded-top">
                <div class="text-center p-4">
                  <h4 class="mt-3 mb-1 fw-semibold text-white fs-18">
                    Crear un nuevo administrador
                  </h4>
                  <p class="text-white-50 fw-medium mb-0">
                    Ingresa los datos para crear el administrador.
                  </p>
                </div>
              </div>
              <div class="card-body pt-0">
                <form
                  class="my-4"
                  action="index.html"
                  [formGroup]="signupForm"
                  (ngSubmit)="onSubmit()"
                >

                  <div class="form-group mb-2">
                    <label class="form-label text-muted" for="useremail">Correo</label>
                    <div class="input-group">
                      <span class="input-group-text bg-dark text-white border-end-0">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <input
                        type="email"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid': submitted && form['email'].errors,
                        }"
                        class="form-control border-start-0"
                        id="useremail"
                        name="user email"
                        placeholder="Ingresa un correo electrónico"
                      />
                    </div>
                    <div class="invalid-feedback">Correo válido es requerido</div>
                  </div>
                  <!--end form-group-->

                  <div class="form-group mb-2 position-relative">
                    <label class="form-label text-muted" for="userpassword">Contraseña</label>
                    <div class="input-group">
                      <span class="input-group-text bg-dark text-white border-end-0">
                        <i class="fas fa-lock"></i>
                      </span>
                      <input
                        type="password"
                        class="form-control border-start-0"
                        formControlName="password"
                        [type]="fieldTextType ? 'text' : 'password'"
                        [ngClass]="{
                          'is-invalid': submitted && form['password'].errors,
                        }"
                        name="password"
                        id="userpassword"
                        placeholder="Ingresa una contraseña"
                      />
                    </div>
                    @if (
                      (signupForm.get('confirmpwd')?.touched &&
                        signupForm.errors?.['notSame']) ||
                      (!submitted && form['password'].errors)
                    ) {
                      <span
                        class="position-absolute top-50 text-muted end-0 translate-middle-y p-0 mt-2"
                      >
                        <i
                          class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"
                          [ngClass]="{ 'fa-eye': fieldTextType }"
                          (click)="changetype()"
                        ></i>
                      </span>
                    }
                    <div class="invalid-feedback">
                      Contraseña es requerida
                    </div>
                  </div>

                  <div class="form-group mb-2 position-relative">
                    <label class="form-label text-muted" for="Confirmpassword">Confirmar Contraseña</label>
                    <div class="input-group">
                      <span class="input-group-text bg-dark text-white border-end-0">
                        <i class="fas fa-lock"></i>
                      </span>
                      <input
                        [type]="fieldTextType1 ? 'text' : 'password'"
                        formControlName="confirmpwd"
                        [ngClass]="{
                          'is-invalid':
                            signupForm.get('confirmpwd')?.touched &&
                            signupForm.errors?.['notSame'],
                        }"
                        type="password"
                        class="form-control border-start-0"
                        name="password"
                        id="Confirmpassword"
                        placeholder="Ingresa nuevamente la contraseña"
                      />
                    </div>
                    @if (!submitted && form['confirmpwd'].errors) {
                      <span
                        class="position-absolute top-50 end-0 text-muted translate-middle-y p-0 mt-2"
                      >
                        <i
                          class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"
                          [ngClass]="{ 'fa-eye': fieldTextType1 }"
                          (click)="fieldTextType1 = !fieldTextType1"
                        ></i>
                      </span>
                    }
                    <div class="invalid-feedback">
                      No coinciden las contraseñas
                    </div>
                  </div>
                  <!--end form-group-->

                  <div class="col-sm-6 ">
                    <a
                      [routerLink]="'/auth/login-admin'"
                      class="text-muted font-13"
                      ><i class="dripicons-lock"></i>¿Ya tienes cuenta?</a
                    >
                  </div>
                  <!--end form-group-->

                  <!--<div class="form-group row mt-3">
                    <div class="col-12">
                      <div class="form-check form-switch form-switch-success">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="customSwitchSuccess"
                        />
                        <label
                          class="form-check-label"
                          for="customSwitchSuccess"
                          >By registering you agree to the Approx
                          <a href="javascript:void(0);" class="text-primary"
                            >Terms of Use</a
                          ></label
                        >
                      </div>
                    </div>
                  </div>-->
                  <!--end form-group-->

                  <div class="form-group mb-0 row">
                    <div class="col-12">
                      <div class="d-grid mt-3">
                        <button class="btn btn-dark btn-lg" type="submit">
                          Registrar <i class="fas fa-sign-in-alt ms-1"></i>
                        </button>
                        <ngb-alert
                          *ngIf="showAlert"
                          type="success"
                          class="shadow-sm border-theme-white-2"
                          [dismissible]="false"
                        >
                          <div
                            class="d-inline-flex justify-content-center align-items-center thumb-xs bg-success rounded-circle mx-auto me-1"
                          >
                            <i class="fas fa-check align-self-center mb-0 text-white"></i>
                          </div>
                          <strong> Usuario Registrado!</strong> Correctamente
                        </ngb-alert>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end form-group-->
                </form>
                <!--end form-->
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
