<div class="card">
  <!--end card-body-->
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 text-truncate ms-3 align-self-end">
            <h5 class="m-0 fs-3 fw-bold">Carlos Zuñiga</h5>
            <p class="text-muted mb-0">&#64;carloszu</p>
          </div>
          <!--end media body-->
        </div>
        <!--end media-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-body-->
</div>
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-title">Información Personal</h4>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-header-->
  <div class="card-body pt-0">
    <ul class="list-unstyled mb-0">
      <li class="mt-2">
        <i class="las la-briefcase me-2 text-secondary fs-22 align-middle"></i>
        <b> Rol </b> : Administrador
      </li>
      <li class="mt-2">
        <i class="las la-phone me-2 text-secondary fs-22 align-middle"></i>
        <b> Teléfono </b> : +229 1082629
      </li>
      <li class="mt-2">
        <i class="las la-envelope text-secondary fs-22 align-middle me-2"></i>
        <b> Correo </b> : carloszu&#64;gmail.com
      </li>
    </ul>
  </div>
</div>

