<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-title">Detalle de Balance</h4>
      </div>
      <!--end col-->
      <div class="col-auto">
        <div class="p-2 border-dashed border-theme-color rounded">
          <h5 class="mt-1 mb-0 fw-medium">$82365.00</h5>
          <small class="text-muted">Disponible</small>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <div class="card-body pt-0">
    <div id="balance" class="apex-charts">
      <apx-chart
        [chart]="BalanceChart.chart!"
        [plotOptions]="BalanceChart.plotOptions!"
        [dataLabels]="BalanceChart.dataLabels!"
        [stroke]="BalanceChart.stroke!"
        [series]="BalanceChart.series!"
        [legend]="BalanceChart.legend!"
        [labels]="BalanceChart.labels!"
        [colors]="BalanceChart.colors!"
      />
    </div>
    <div class="bg-light py-3 px-2 mb-0 mt-3 text-center rounded">
      <h6 class="mb-0">
        <i class="icofont-calendar fs-5 me-1"></i> 01 Enero 2024 al 31 Diciembre 2024
      </h6>
    </div>
  </div>
  <!--end card-body-->
</div>
